* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: 20px;
    background-color: #5C9ACE;

}

.logo {
    display: flex;
    align-items: center;
}
.gato {
    height: 125px;
    width: 120px;
}

.container p {
    color: #fff;
    font-size: larger;
    font-family: Cambria;
}


.lupa {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lupa img {
    width: 30px;
    height: 30px;

}

.lupa .search {
    width: 350px;
    height: 30px;
    background-color: none;
    border: none;
    border-radius: 10px;
    outline: none;

}

.meu-elemento {
    background-image: url('./img/lugar.png'); /* 1. Define a imagem */
    background-repeat: no-repeat; /* 2. Evita que a imagem se repita */
    background-position: center; /* 3. Centraliza a imagem */
    background-size: cover; /* 4. Faz a imagem cobrir todo o elemento */
    width: 100%; /* Exemplo de largura para o elemento */
    height: 800px; /* Exemplo de altura para o elemento */
  
  }