*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    font-family: "Londrina Solid", sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: 20px;
    background-color: #5C9ACE;

}

.logo {
    display: flex;
    align-items: center;
}
.gato {
    height: 125px;
    width: 120px;
}

.container p {
    color: #fff;
    font-size: larger;
    font-family: Cambria;
}


.lupa {
    display: flex;
    align-items: center;
    width: 390px;
    background-color: #fff;
    height: 30px;
    gap: 5px;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}

.lupa img {
    width: 20px;
    height: 20px;

}

.lupa .search {
    width: 350px;
    height: 30px;
    background-color: none;
    border: none;
    border-radius: 10px;
    outline: none;

}


.elemento {
    background-image: url('./img/lugar.png'); /* 1. Define a imagem */
    background-repeat: no-repeat; /* 2. Evita que a imagem se repita */
    background-position: center; /* 3. Centraliza a imagem */
    background-size: cover; /* 4. Faz a imagem cobrir todo o elemento */
    width: 100%; 
    height: 800px; 
  
  }

  .rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #5C9ACE;

}

.rodape p {
    color: #fff;
}